<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wm.cs.mobileguard">

    <!-- Requesting Internet Permission and the permission to show a popup warning to user if the connection is not secure -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mg_launch_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <service
            android:name=".RunningServer"
            android:exported="false"/>
        <activity
            android:name=".Launch"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LegalActivity" />
        <activity android:name=".AppSelectActivity" />
        <activity android:name=".SettingActivity" />
        <activity
            android:name=".HelpMainActivity"
            android:label="@string/title_activity_help_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>